<div class="container">
	<p id="notice"><%= notice %></p>
		<h1>Current Candidates:</h1>
	<div class="jumbotron">
		<p>
		  <strong>Company:</strong>
		  <%= @job.company %>
		</p>

		<p>
		  <strong>Title:</strong>
		  <%= @job.title %>
		</p>

		<% if @job.user == current_user %>
			<%= link_to 'Edit', edit_job_path(@job) %> |
		<% end %>
		<%= link_to 'Back', jobs_path %>
	</div> <%#> jumbotron %>
</div> <%# container %>
